<template>
  <div class="about">
    <div class="container">
      <h2>Cards</h2>
      <CardsList />
    </div>
  </div>
</template>

<script>
  import CardsList from "../components/CardsList";

  export default {
    name: 'Cards',
    components: {
      CardsList
    },
    head: {
      title: 'Test App',
      meta: [
        { hid: 'test_app', name: 'test app', content: 'Test app page' }
      ],
      noscript: [
        { innerHTML: 'Body No Scripts', body: true }
      ],
      script: [
      ]
    }
  }
</script>
