<template>
  <div class="home">
    <img alt="Vue logo" src="../assets/logo.png">
    <Filters/>
  </div>
</template>

<script>
// @ is an alias to /src
import Filters from '@/components/Filters.vue';

export default {
  name: 'Home',
  components: {
    Filters
  },
  head: {
    title: 'Test App',
    meta: [
      { hid: 'test_app', name: 'test app', content: 'Test app page' }
    ],
    noscript: [
      { innerHTML: 'Body No Scripts', body: true }
    ],
    script: [
      // { src: '/body.js', body: true },
    ]
  }
}
</script>
