<template>
  <div class="container">
    <ul class="cards">
	  <li v-for="(card, index) in cards" :key="card.id">
	    <span>
			<b>{{ card.id }}</b>: <i>{{ card.name }}</i>
		</span>
	  </li>
	</ul>
	<br />
	<br />
	<router-link :to="{ name: 'Home' }" class="button">Back to filters page</router-link>
  </div>
</template>

<script>
  import { mapMutations, mapGetters, mapActions } from 'vuex';

  export default {
	name: "CardsList",
	computed: {
      ...mapGetters({
	    cards: 'cards'
	  }),
	},
	mounted() {
	  this.getCardsByFilters();
	},
	methods: {
	  getCardsByFilters() {
		this.getCards();
	  },
	  ...mapMutations({
		setCards: 'gotCards',
	  }),
	  ...mapActions({
		getCards: 'getCards'
	  })
	}
  }
</script>

<style scoped>
.container {
  text-align: center;
  margin-top: 50px;
}
.cards {
  list-style-type: none;
}
.cards li span {
  display: inline-block;
  width: 300px;
  border: 1px #ddd solid;
  padding: 10px;
  text-align: left;
  color: #222;
  text-decoration: none;
}
a.button {
  color: white;
  padding: 5px 15px;
  border-radius: 5px;
  text-decoration: none;
  background-color: #42b983;
}
b {
  color: #42b983;
}
</style>