<template>
  <div class="hello">
    <h2>Find Cards Module</h2>
    <p>
      Please use nav links in top or buttons on the page to navigate between the pages,<br>
      Here the some filters sets for "Rick and Morty" cards or fill the name/name part to find by hero name.
    </p>
    <VueSelect :options="statuses" v-on:input="statusChanged" :initValue="filters.status" />
    <br />
    <br />
    <VueSelect :options="genders" v-on:input="genderChanged" :initValue="filters.gender" />
    <br />
    <br />
    <VueSelect :options="species" v-on:input="speciesChanged" :initValue="filters.species" />
    <br />
    <br />
    <input v-model="heroName" :placeholder="'Enter hero name..'"/>
    <br />
    <br />
    <router-link :to="{ name: 'Cards' }" class="button">Cards</router-link>
  </div>
</template>

<script>
import VueSelect from '@/components/VueSelect.vue';
import { mapMutations, mapGetters } from 'vuex';

export default {
  name: 'Filters',
  props: {
    msg: String
  },
  components: {
    VueSelect
  },
  data() {
    return {
      statuses: ['alive', 'dead', 'unknown'],
      genders: ['female', 'male', 'genderless', 'unknown'],
      species: ['alien', 'human', 'unknown']
    };
  },
  computed: {
    ...mapGetters({
      filters: 'filters',
    }),
    heroName: {
      get() {
        return this.filters.name;
      },
      set(val) {
        this.nameChanged(val);
      }
    }
  },
  methods: {
    statusChanged(value){
      this.filters.status = value;
      this.setFilters(this.filters);
    },
    genderChanged(value){
      this.filters.gender = value;
      this.setFilters(this.filters);
    },
    speciesChanged(value){
      this.filters.species = value;
      this.setFilters(this.filters);
    },
    nameChanged(value){
      this.filters.name = value;
      this.setFilters(this.filters);
    },
    ...mapMutations({
      setFilters: 'setFilters'
    })
  },
}
</script>

<style scoped>
h3 {
  margin: 40px 0 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
a.button {
  color: white;
  padding: 5px 15px;
  border-radius: 5px;
  text-decoration: none;
  background-color: #42b983;
}
</style>
