<template>
  <select v-model="value">
	<option value="">Please select one</option>
	<option v-for="(option, index) in options" :key="index">
      {{ option | capitalize }}
	</option>
  </select>
</template>

<script>
  export default {
    name: "vue-select",
	data() {
	  return {
		value: ''
	  }
	},
	props: [
	  "options",
	  "changed",
	  "initValue"
	],
	mounted() {
	  if (this.initValue && this.initValue !== '') {
		this.value = this.initValue;
	  }
	},
	filters: {
	  capitalize: (value) => {
		if (!value) return '';
		value = value.toString();
		return value.charAt(0).toUpperCase() + value.slice(1)
      }
	},
	watch: {
	  value: function (value) {
	    this.emitChange(value);
	  }
	},
	methods: {
	  emitChange(value) {
	    this.$emit("input", value);
	  }
	}
  }
</script>

<style scoped>
</style>
